@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@using SignalRHub.BlazorServer.Models;

<PageTitle>Index</PageTitle>

Welcome to your new app.

<div>
    SignalR Status : @IsConnected <br />
    Status Updated On: @updatedOn
</div>

<h3>Incoming Messages</h3>

@foreach (var str in stringList)
{
    <span>@str<br/></span>
}

<br />

<h3>Incoming Employee</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in employeeList)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Address</td>
            </tr>
        }
    </tbody>
</table>

@code{
    private HubConnection? hubConnection;
    public List<Employee> employeeList;
    public List<string> stringList = new List<string>();
    public string updatedOn;

    protected override async Task OnInitializedAsync()
    {
        employeeList = new List<Employee>();

        hubConnection = new HubConnectionBuilder()
        .WithUrl("http://localhost:5067/signalhub")
        .Build();

        hubConnection.On<Employee>("ReceiveEmployee", (incomingEmployee) =>
        {
            employeeList.Add(incomingEmployee);
            updatedOn = DateTime.Now.ToLongTimeString();
            StateHasChanged();
        });

        hubConnection.On<string>("ReceiveMessage", (incomingMessage) =>
        {
            stringList.Add(incomingMessage);
            updatedOn = DateTime.Now.ToLongTimeString();
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;
}
